body {
  justify-content: center;
  width: 100%;
  background-color: #fbdd57;
}

.container {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#navbar {
  display: inline-flex;
  justify-content: space-around;
  margin-top: -5px;
  position: fixed;

  left: 0;
  width: 100%;
  color: white;
  background-color: #1f1f1f00;

  z-index: 1000;
  text-shadow: -3px 4.5px 2px #1f1f1fc2;

  transition: text-shadow 1s ease, background-color 0.3s ease, color 0.3s ease;

  /* Add smooth transition */
  padding-bottom: -30px;
}

#navbar a {
  font-size: 20px;
  color: #371a1a;
  text-decoration: none;
}

#navbar a:hover {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  box-shadow: #d00606;
}

.wrapper .btn {
  background-color: transparent;
}

#navbar.scrolled {
  color: #fbdd57;
  background-color: #8c1818;
  text-shadow: 2px 2px 2px #1f1f1fc2;
  /* Change to desired color */
}

#navbar.scrolled .wrapper {
  --font-color-dark: #ffffff;
  --font-color-light: #8c1818;
  --bg-color: #8c1818;
  --main-color: #fbdd57;

  /* Change to desired color */
}

.navbar-title {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  padding-left: 30px;
}

.navbar-profile {
  display: flex;
  align-items: center;
}

.profile-image {
  margin-top: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 80px;
  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.dropdown {
  text-align: center;
  position: relative;
  display: inline-block;
  text-shadow: 0px 0px 0px #1f1f1f00;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-family: "Poppins", sans-serif;
  right: 20%;
  background-color: #ead9d9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.dropdown-content a {
  color: #333;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Budget and Expense Tracker Styles */
#budget-tracker,
#expense-tracker {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#budget-tracker {
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
}
#bgt_out {
  width: 77%;
}
#inputs {
  font-family: "Poppins", sans-serif;
  display: inline-flex;
  width: 18%;
  color: white;
  background-color: #1d1b1b;
  padding: 20px;
  border-radius: 14px;
  flex-direction: column;
}

#budget-tracker h2,
#expense-tracker h2 {
  margin-bottom: 20px;
}

#budget-tracker input[type="number"],
#budget-tracker input[type="date"],
#expense-tracker input[type="text"],
#expense-tracker input[type="number"],
#expense-tracker input[type="date"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#budget-tracker button,
#expense-tracker button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#budget-tracker button:hover,
#expense-tracker button:hover {
  background-color: #555;
}

#budget-tracker button + button,
#expense-tracker button + button {
  margin-left: 10px;
}

.inline {
  margin-left: -20px;
  font-size: 100px;
}

.inline p {
  text-shadow: -8px 5px 4px #1d1b1b;
  font-weight: 800;
  margin: 0;
}

#hero.hero scrolled {
  text-shadow: 10px 5px 4px #1d1b1b;
}

.BandE {
  color: #ff0000;
  font-family: "Baumans", system-ui;
  font-weight: 400;
  font-style: normal;
}

#and {
  font-family: "Indie Flower", cursive;
}

.hero {
  width: 100%;
  height: 53em;
  display: inline-flex;

  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

#msg {
  font-size: 20px;
  background-color: #a10404cd;
  padding: 30px 30px 20px 30px;
  border-radius: 10px;
}

#Hello {
  color: #ffffde;
}

#Username {
  color: #d00606;
}

#pro_us {
  color: #ffffff;
  text-align: center;
  margin-top: -5px;
  margin-right: 80px;
  /* margin-left: -35px; */
  letter-spacing: 1.5px;
  font-family: "Poppins", sans-serif;
}
#msglng {
  color: #e3e3ca;
}

/*  */
.wrapper {
  --font-color-dark: #323232;
  --font-color-light: #fff;
  --bg-color: #fff;
  --main-color: #323232;
  margin-top: 19px;
  position: relative;
  width: 25%;
  height: 36px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
  text-shadow: 0px 0px 0px;
  justify-content: space-around;
}

.option {
  width: 50%;
  height: 28px;
  position: relative;
  top: 2px;
  left: 2px;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  color: var(--font-color-dark);
}

.input:checked + .btn {
  background-color: var(--main-color);
}

.input:checked + .btn .span {
  color: var(--font-color-light);
}

img {
  box-shadow: 0 4px 8px #1d1b1b;
}

#bgtCal {
  width: 100%;
  color: white;
  background-color: #890a09;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#budget-calendar {
  height: 50vh;
  background-color: #fbdd57;
  border: red solid;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  overflow-y: scroll;
}

.calendar-cell {
  height: 17%;
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  background-color: #1d1b1b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#greet {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  border-radius: 15px;
  background-color: #1d1b1bf1;
  margin: 10px;
}

#bg-his {
  border-radius: 15px;
  padding: 20px;
  width: 350px;
  color: whitesmoke;
  margin-left: 20px;
  background-color: black;
}

/* Style for Expense Tracker section */
#expense-tracker {
  font-family: "Poppins", sans-serif;
  width: 120vh;
  color: whitesmoke;
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  background-color: #1d1b1b;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.thNia {
  background-color: #8c1818;
  padding: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.tdnia {
  color: #323232;
  vertical-align: baseline;
  background-color: #fbdd57;
  text-align: center;
  padding: 5px;
}
.tdAct {
  vertical-align: baseline;
  background-color: #ffffff;
}
/* Style for Expense Tracker form */
#add-expense-form {
  margin-bottom: 20px;
}

#add-expense-form label {
  display: block;
  margin-bottom: 10px;
}

#add-expense-form input[type="text"],
#add-expense-form input[type="number"],
#add-expense-form input[type="date"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-expense-form button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-expense-form button[type="submit"]:hover {
  background-color: #555;
}
.expense-list {
  background-color: #1d1b1b;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: #890a09 1px solid;
}

.expense-list tr {
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.expense-list tr:hover {
  transform: translateY(-5px);
}

.expense-list td {
  padding: 15px;
  font-size: 1rem;
}

.expense-list .actions {
  display: flex;
  justify-content: flex-end;
}

.expense-list .actions a {
  color: #333;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}

.expense-list .actions a:hover {
  color: #555;
}
.ttrow {
  background-color: #890a09;
}
.thead {
  color: #1d1b1b;
  background-color: #890a09;
}
@media only screen and (max-width: 1024px) {
  .inline {
    display: none;
  }
  #helloName {
    display: flex;
  }
}
